<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='it12.css')}}">
      </head>
      <body>
        <div class="back">
          <form action="{{ url_for('Mit') }}" method="POST">
            <h1> IT SUBJECTS !</h1>
            <label for="enroll">Enrollment number</label>
            <input type="text" id="enroll" name="enroll" placeholder="Enter College Enrollment Number"><required></required><br><br>
            <label for="env">Environmental Science </label>
        <input type="text" id="env" name="env" placeholder="Enter Environmental Marks"><required> </required><br><br>
        <label for="iot">IOT</label>
        <input type="text" id="iot" name="iot" placeholder="Enter IOT Marks"><required> </required><br><br>
        <label for="Data">Data Structures </label>
        <input type="text" id="Data" name="Data" placeholder="Enter Data Structures Marks"><required> </required><br><br>
        <label for="web">Web Development</label>
        <input type="text" id="web" name="web" placeholder="Enter Web Development Marks"><required> </required><br><br>
        <input type="Submit" value="Submit">
 
        </form>
    </div>
      </body>
</html>